<section
    class="block w-11/12 lg:w-1/5 l m-auto mx-2 my-4 text-center rounded-xl border-1 border-black shadow-xl">
    <h4 class="text-3xl p-2 bg-dark-green rounded-t-lg text-off-white">
        My Posts
    </h4>
    <div
        class="border-solid border-1 border-gray-400 bg-light-green text-midnight-green rounded-b-xl flex flex-row flex-wrap">
        {{#each userPosts as |post|}}
        <div class="w-full border-b-2 border-black my-2 text-left p-3 flex flex-row justify-between">
            <div class="w-3/4">
                <a href="/post/{{post.id}}">{{post.title}}</a>
                <div>{{format_date createdAt}}</div>

            </div>
            <span class="self-center delete-post">
                <svg xmlns="http://www.w3.org/2000/svg" id="{{post.id}}" class="h-5 w-5" viewBox="0 0 20 20"
                    fill="red">
                    <path id="{{post.id}}" fill-rule="evenodd"
                        d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
                        clip-rule="evenodd" />
                </svg>
            </span>
        </div>
        {{/each}}
        <div class="w-full bg-off-white rounded-b-lg border-t-2 border-black">
            <a href="/add-post">
                <button
                    class="py-2 px-2 font-medium text-white bg-green-500 font-semibold rounded hover:bg-green-600 transition duration-300 w-1/2 m-auto my-5">
                    Write
                    New Post
                </button>

            </a>

        </div>
    </div>
    
    <script src="/js/delete-post.js"></script>
</section>