<section
    class="w-full lg:w-1/3 flex-1 bg-light-green border-1 border-black border-solid rounded-xl m-3 text-left flex flex-row flex-wrap">
    <h4 class="text-lg font-bold w-full rounded-t-xl p-3 border-b-2 border-black bg-off-white text-left">
        Featured Plant
    </h4>
    <div class="flex flex-row flex-wrap justify-around w-full">
        <img src="/assets/squash.jpg" alt="" class="w-1/4 m-3 border-1 border-double border-black rounded-lg">
        <ul class="w-3/5 my-1">
            <li class="my-1">Name: {{plant.plant}}</li>
            <li class="mb-1">
                {{#if plant.annual}}
                {{plant.annual}}
                {{else}}
                {{plant.perennial}}
                {{/if}}
            </li>
            <li class="mb-1">When to plant: {{plant.plantConditions}}</li>
        </ul>
    </div>
</section>