<article class="post w-2/3 m-auto">
  <div class="title">
    {{!-- double curlies used for HTML attributes --}}
    <h3 class="text-2xl">{{title}}</h3>
    <p >{{post_content}}</p>
    <br />
  </div>
  <div class="meta w-full">
    {{!-- double curlies used for content --}}
    posted by {{user.username}} on
    {{format_date createdAt}}
    |
    {{!-- word, amount --}}
    <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
</article>